<div class="header1">
   <div class="logo">
      <img src="images/Logo.jpg" alt="logo" class="img-logo">
   </div>
   <div class="currCaregory"></div>
   <div class="icons">
      <a id = "cartId" class="fa-solid fa-cart-shopping" href="/cart" ></a>
      <span id="suma">0</span>
      <a id="magnifierId"href="#" class="fa-solid fa-magnifying-glass"></a> 
</div>

